#page-title {
	border: 5px solid blue;
	padding: 20px;
	padding-left: 42%;
}

ul {
	margin-left: 20px;
}

.part-heading {
	position: relative;
	left: 47%;
}

.first-part {
	position: relative;
}

.knight-sword {
	position: absolute;
	z-index: -1;
	left: 37%;
	opacity: 0.5;
}

#additional-links {
	font-family: Helvetica;
}

a:visited {
	color: green;
}

body {
	max-width: 1300px;
	padding-right: 100px;
}

@media screen and (max-width: 500px) {
  body {
  	padding-right: 0px;
  }
}